body {
    background-color: whitesmoke;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
}

.amarelo {
    padding: 140px;
    margin: 9px;
    background-color: rgb(183, 215, 226);
    box-sizing: border-box;
    border-radius: 5px;
}
.alongar{
    padding-right: 700px;
}
.flexivel {
    display: flex;
}

.esticar {
    padding-bottom: 400px; 
}

.carousel {
    display: flex;
    width: 1700px;
    gap: 10px;
    text-align: center;
    background-color: lightblue;
    border-radius: 8px;
    margin: 10px; 
}

.carousel img {
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 10px;
    background-color: antiquewhite;
}